body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    flex-direction: row;
    font-size: 16px;
    width: auto;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0;
    flex-direction: column;
}
/* .form input{
    font-size: 16px;
} */
.content {
    display: flex;
    grid-column-gap: 240px;
    align-items: center;
}

.cards {
    background-image: url(./Images/Backround_colors.svg);
    width: 430px;
    height: 800px;
    padding-top: 40px;
}

.card_blue {
    padding-left: 130px;
    padding-top: 180px;
}

.card_black {
    padding-left: 201px;
    margin-top: -24px;
}

.card_number {
    top: 352px;
    left: 200px;
    color: #fff;
    font-size: 19px;
    color: #F5F5F5;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_text {
    font-size: 16px;
    color: #fff;
    top: 397px;
    left: 200px;
    color: #F5F5F5;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_logo {
    top: 170px;
    left: 150px;
}

.card_black .cvc {
    top: 539px;
    color: #fff;
    left: 530px;
    position: absolute;
    color: #F5F5F5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form {
    color: black;
    /* width: 500px;
    height: 375px; */
    padding-bottom: 120px;
    /* display: grid; */
    padding-top: 267px;
    padding-left: 160px;
}



input {
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    background-color: transparent;
    outline: transparent;
    padding-right: 40%;
    /* border-image-slice: 1;
    border-image-source: linear-gradient(to right bottom, #6a5af9, #f62682);
    border-radius: inherit; */
    box-sizing: border-box;
}

.YY {
    top: 396px;
    left: 451px;
    color: #fff;
    position: absolute;
    color: #F5F5F5;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_blue .card_logo,
.card_text,
.card_number,
.cvc {
    position: absolute;
}

.date-cvc {
    display: flex;
}

.btn {
    background-color: black;
    width: 100%;
    padding: 21px 0px 20px 0px;
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 15px;
    background: #3A0652;
    cursor: pointer;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;

}

.name,
.number {
    position: relative;
}

#number-error-message {
    position: absolute;
}

.error {
    border-color: #f00;
}

.date input {
    width: 85px;
    padding: 15px 7px 15px 27px;
}

.cvc {
    position: relative;
}

.error-message {
    position: absolute;
}

.field-title {
    color: #808080;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
}

.name-input,
.number-input {
    color: #808080;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 285px;
}

#MM {
    color: #808080;
   
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-right: 10px;
}

#YY {
    color: #808080;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-right: 49px;
}

.cvc-input {
    color: #808080;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding: 15px 12px 15px 12px;
    width: 100%;
}

.card_blue_img,
.card_black_img {
    width: 400px;
    height: 100%;
    flex-shrink: 0;
    padding: 24px;
}
.card_square_big {
    position: absolute;
    top: 280px;
    left: 200px;
}
.card_square_small {
    position: absolute;
    top: 290px;
    left: 270px;
}
.submit-btn {
    padding-top: 50px;
}
.number,
.date,
.cvc {
    padding-top: 20px;
}
.name-input,
.number-input {
    padding: 15px 12px 15px 14px;
    width: 100%;
   
}
.circle {
    display: none;
}
.form input{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}




















/* 
Responsive Mobile */
@media only screen and (max-width:768px) {
    .content {
        font-family: 'Montserrat', sans-serif;
    }
    .circle {
        display: block;
        position: absolute;
        top: 129px;
        left: 65px;
    }
    .number,
    .date,
    .cvc {
        padding-top: 24px;
    }
    .square {
        display: none;
    }
    .card_blue {
        margin-top: 20px;
    }
    .card_black .cvc {
        top: 89px;
        left: 251px;
    }
    .card_black {
        position: absolute;
        top: 5px;
        left: 35px;
    }
    .card_blue {
        padding-top: 130px;
    }
    .cards {
        background-image: url(./Images/Square_mobile.svg);
        width: 400px;
        height: 732px;
        flex-shrink: 0;
        padding-top: 40px;
    }
    #name {
        color: #808080;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        padding: 12px 12px 12px;
    }
    .content {
        flex-direction: column;
    }
    .form {
        width: 100%;
        padding-left: 15px;
        margin: auto;
    }
    .cvc-input {
        color: #808080;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        padding: 8px 18px 10px 12px;
    }
    .name-input,
    .number-input,
    input {
        width: 90%;
        padding: 10px;
    }
    .date input {
        width: 45%;
        padding: 10px;
    }
    .cards {
        width: 100%;
        height: auto;
        padding-top: 34px;
    }
    .card_blue {
        padding-left: 15px;
        padding-top: 60px;
        position: relative;
    }
    .card_black {
        padding-left: 15px;
        margin-top: -24px;
    }
    .card_logo {
        top: 80px;
        left: 60px;
    }
    .card_text {
        top: 160px;
        left: 60px;
        font-size: 12px;
    }
    .Y,
    .card_text {
        font-size: 14px;
    }
    .btn {
        width: 100%;
        line-height: 18px;
        padding: 16px;
        border-radius: 10px;
    }
    .container {
        position: relative;
        height: 100vh;
    }
    #MM {
        width: 35px;
        height: 41px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FFF;
        margin-right: 5px;
    }
    .name-input {
        padding: 0px 10px 0px 10px;
    }
    #YY {
        width: 35px;
        height: 41px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FFF;
    }
    #CVC {
        width: 125px;
        height: 41px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FFF;
    }
    .submit-btn {
        padding-top: 24px;
    }
    .card_black_img,
    .card_blue_img {
        width: 280px;
    }

    .card_text {
        color: #F5F5F5;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .form {
        width: 320px;
        height: 347px;
        flex-shrink: 0;
        border-radius: 10px;
        background: #FFF;
        width: 80%;
        margin: 0 auto;
        margin-left: 40px;
        margin-right: 40px;
        padding-bottom: 89px;
    }

    .field-title {
        color: #808080;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
        padding: 9px;
    }

    .card_number {
        top: 198px;
        left: 66px;
        font-size: 18px;
        color: #fff;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #DEDDDF;
        font-style: normal;
    }

    .card_text {
        font-size: 12px;
        color: #fff;
        top: 230px;
        left: 67px;
        color: #F5F5F5;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .Y {
        top: 230px;
        left: 262px;
        color: #fff;
        position: absolute;
        color: #F5F5F5;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

}