body {
    background-color: #fff;
    margin: 0;
    flex-direction: row;
    width: auto;
    font-family: 'Montserrat';
}

.container {
    width: auto;
    max-width: 1366px;
    margin: 0;
    flex-direction: column;
}

.cards {
    background-image: url(./Images/Backround_colors.svg);
    width: 430px;
    height: 800px;
}

.card_blue {
    padding-left: 130px;
    padding-top: 180px;
}

.card_black {

    padding-left: 201px;
    padding-top: 5px;
}

.card_number {
    top: 306px;
    left: 200px;
    color: #fff;
    font-size: 19px;
    color: #F5F5F5;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_text {
    font-size: 12px;
    color: #fff;
    top: 356px;
    left: 200px;
    color: #F5F5F5;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_logo {
    top: 170px;
    left: 150px;
}

.card_number_black .cvc {
    top: 572px;
    color: #fff;
    left: 567px;
    position: absolute;
    color: #F5F5F5;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form {
    color: black;
    width: 500px;
    height: 375px;
    display: grid;
    padding-top: 226px;
    padding-left: 60px;
}

.content {
    display: flex;
    grid-column-gap: 25%;
    align-items: center;
}

input {
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    padding: 0.5rem;
    background-color: transparent;
    outline: transparent;
    padding-right: 40%;
}

.YY {
    top: 356px;
    left: 451px;
    color: #fff;
    position: absolute;
    color: #F5F5F5;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card_blue .card_logo,
.card_text,
.card_number {
    position: absolute;
}

.date-cvc {
    display: flex;
    gap: 5px;
}

.form .expire {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.btn {
    background-color: black;
    width: 378px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 15px;
    background: #3A0652;
}

.name,
.number {
    position: relative;
}

#number-error-message {
    position: absolute;
}

.error {
    border-color: #f00;
}

.date input {
    width: 85px;
    padding: 15px 7px 15px 27px;
}


.cvc-input {
    width: 100px;
    height: 30px;
}



.cvc {
    position: relative;
}

.error-message {
    position: absolute;
}

.field-title {
    color: #808080;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 10px;
}

.name-input,
.number-input {
    color: #808080;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    width: 160px;
    height: 20px;
    /* 156.25% */
}

#month-input {
    color: #808080;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

#year-input {
    color: #808080;
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;

}
.cvc-input {
    color: #808080;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    padding: 12px 25px;
}

/* Thank you! */